body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.section {
  height: 70vh; /* 화면의 70%만 채움 */
  width: 80%; /* 화면 너비의 80%만 채움 */
  margin: 15vh auto; /* 세로 가운데 정렬 및 위아래 여백 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}

/* 각 DIV에 다른 배경색 설정 */
.section1 {
  background-color: #ff6f61;
}

.section2 {
  background-color: #6f9eff;
}

.section3 {
  background-color: #ffc46f;
}

.section4 {
  background-color: #6fff91;
}

.section5 {
  background-color: #ff6fff;
}

.section6 {
  background-color: #6ffff6;
}

.section7 {
  background-color: #d16fff;
}

#trialInfo {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
}