body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* 오버레이 메시지 스타일 */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    z-index: 10;
}

#startButton {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

/* 모든 상자를 중앙의 검은색 원 크기로 통일 */
#centerCircle,
.cornerCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#centerCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* 모서리에 있는 빨간색 원을 정확히 각 모서리에 위치시킴 */
.cornerCircle {
    position: absolute;
    background-color: rgb(136, 132, 132);
}

/* 모서리 위치 */
#cornerTopLeft {
    top: 2vh;
    left: 2vw;
}

#cornerTopRight {
    top: 2vh;
    right: 2vw;
}

#cornerBottomLeft {
    bottom: 2vh;
    left: 2vw;
}

#cornerBottomRight {
    bottom: 2vh;
    right: 2vw;
}

/* 중앙과 각 모서리의 중간 지점에 위치한 빨간색 원 */
#midTopLeft {
    top: 26vh;
    left: 26vw;
}

#midTopRight {
    top: 26vh;
    right: 26vw;
}

#midBottomLeft {
    bottom: 26vh;
    left: 26vw;
}

#midBottomRight {
    bottom: 26vh;
    right: 26vw;
}

.highlight {
    background-color: red;
}

/* 성공/실패 메시지 스타일 */
.resultMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    font-weight: bold;
    text-align: center;
    display: none;
    z-index: 20;
}